@use "variable" as *;
@use "sass:map";

@mixin button($bg_color, $border_color, $text_color) {
	padding: 0.4rem 0.8rem; border-radius: 40px; color: $text_color; background-color: $bg_color; border: 2px solid $border_color; cursor: pointer;
	@include mix-limit(map.get($size, 0), map.get($size, 1024) - 1) { font-size: 0.8rem; border: 2px solid $border_color; };
}


@mixin button_solid {
	@include button($color_main_green, $color_main_green, white); transition: all 500ms ease;
	&:hover {
		background: transparent; color: $color_main_green;
	}
}

@mixin button_transparent { @include button(transparent, white, white); }

@mixin button_border {
	@include button(transparent, $color_main_green, $color_main_green);
	&:hover {
		border: 2px solid #739878; color: #739878;
	}
}

@mixin mix-limit($min, $max) {
	@include mix-screens((min: $min, max: $max)) { @content; }
}

@mixin mix-screens($size) {
	@media only screen and (min-width: map-get($size, 'min')) and (max-width: map-get($size, 'max')) {
		@content;
	}
}