@use "sass:map";

@use "_variable" as *;
@use "_func" as *;


.block.about_tour {
	@mixin ViewAboutTour($params: null) {
		$default: (
				display_about_price: flex,
				margin_right_about: 0 10% 0 0,
				width_left_about: 60%,
				width_right_about: 40%,
				justifycontent: revert,
				width_price: 50%,
				margin_right_price: 0
		);
		display: GetValue($default, $params, 'display_about_price');
		padding: 6% 10% 0;

		> div {
			&:first-child {
				width: GetValue($default, $params, 'width_left_about');
				margin: GetValue($default, $params, 'margin_right_about');
			}

			&:last-child {
				width: GetValue($default, $params, 'width_right_about');
				display: flex; justify-content: GetValue($default, $params, 'justifycontent');
			}
		}

		.about_mini {
			> div {
				width: GetValue($default, $params, 'width_price');
				&:not(:last-child) { margin-right: GetValue($default, $params, 'margin_right_price'); }
				> div {
					&:first-child { color: darkgray; font-family: Intro, sans-serif; font-size: 1.5rem; }
					//&:last-child { padding-top: 20px; }
				}
			}
		}
	}

	//@include MixScreen(null, $sizeM) { @include ViewAboutTour((display_about_price: revert, marginright_about: 0, width_left_about: 100%, width_right_about: 100%)); }
	@include MixScreen(null, $sizeX) { @include ViewAboutTour((display_about_price: revert, margin_right_about: 0 0 4% 0, width_left_about: 100%, width_right_about: 100%, justifycontent: center, width_price: auto, margin_right_price: 10%)); }
	@include MixScreen($sizeX, null) { @include ViewAboutTour(()); }
}



.block.tour_video {
	@mixin ViewTourVideo($params: null) {
		$default: (
				padding: 10%,
		);
		> div {
			padding: GetValue($default, $params, 'padding'); margin: 0 auto; max-width: 1200px;
			> div {
				&:nth-of-type(1) { text-align: center !important; }
				&:nth-of-type(2) {
					//text-align: center; padding: 180px; background-position: center; background-image: url("pic/adventure.jpg"); background-size: cover;
				}
			}
		}
	}
	@include MixScreen(null, $sizeXL) { @include ViewTourVideo((padding: 10% 0)); }
	@include MixScreen($sizeXL, null) { @include ViewTourVideo(()); }
}

.block.tour_price {
	@mixin ViewTourPrice($params: null) {
		$default: (
				display_about_price: flex,
				width: 50%,
				//padding: 32px 0 0 32px,
				margin_bottom: 0
		);
		> div {
			&:first-child { padding-bottom: 2%; color: $color_gray; }
			&:last-child {
				display: GetValue($default, $params, 'display_about_price');
				> div {
					width: GetValue($default, $params, 'width');
					&:first-child { margin-bottom: GetValue($default, $params, 'margin_bottom'); }
					&:last-child {}
					> div {
						&:first-child { font-family: Intro, sans-serif; }
					}
				}
			}
		}

		.list {
			padding: 4% 0 0 4%;
			> div {
				display: flex;
				> div {
					&:first-child {}
					&:last-child { padding: 0 0 4px 8px; }
				}
			}
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewTourPrice((display_about_price: revert, width: 100%, margin_bottom: 8%)); }
	@include MixScreen($sizeL, null) { @include ViewTourPrice(()); }
}


.block.tour_program {
	@mixin ViewTourProgram($params: null) {
		$default: (
				display: flex,
				width: 50%,
				fontsize_number: 60px,
				width_number: 100px,
				background_position_y: center
		);

		padding: 120px 10%;
		> div {
			&:first-child { text-align: center !important; }
			&:last-child { display: GetValue($default, $params, 'display'); }
		}
		.days > div {
			display: flex;
			> div {
				&:first-child {
					width: GetValue($default, $params, 'width_number'); text-align: right; position: relative; padding-right: 20px; font-size: GetValue($default, $params, 'fontsize_number'); color: $color_gray;
					&:before { content: ""; position: absolute; width: 8px; height: 8px; background-color: $color_gray; border-radius: 50%; right: -4px; top: 0;
					}
				}
				&:last-child { border-left: 1px solid $color_gray; width: GetValue($default, $params, 'width'); padding-left: 20px; padding-bottom: 50px; }
			}
		}
		.map { background-image: url("pic/map.png"); background-size: contain; width: 80%; background-repeat: no-repeat; background-position-y: GetValue($default, $params, 'background_position_y'); }
	}

	@include MixScreen(null, $sizeM) { @include ViewTourProgram((display: revert, width: 90%, fontsize_number: 40px, width_number: 50px)); }
	@include MixScreen($sizeM, $sizeX) { @include ViewTourProgram((display: revert, width: 70%, fontsize_number: 40px, width_number: 80px)); }
	@include MixScreen($sizeX, $size2XL) { @include ViewTourProgram((background_position_y: top)); }
	@include MixScreen($size2XL, null) { @include ViewTourProgram(()); }
}


.block.tour_photo {
	@mixin ViewTourPhoto($params: null) {
		$default: (

		);
		> div {
			&:first-child { text-align: center !important; }
			&:last-child { text-align: center; margin-top: 4%; }
		}

		.tour_mini_photo {
			display: grid; grid-row-gap: 1rem; grid-column-gap: 1rem; margin-bottom: 4%;
			grid-template-areas:
		"a b b c"
		"d d e f";
			> div {
				background-color: $color_gray; border-radius: 24px; cursor: pointer; padding-top: 42%;
				&:hover { box-shadow: $box_shadow_white; }
				&:nth-of-type(1) { grid-area: a; }
				&:nth-of-type(2) { grid-area: b; }
				&:nth-of-type(3) { grid-area: c; }
				&:nth-of-type(4) { grid-area: d; }
				&:nth-of-type(5) { grid-area: e; }
				&:nth-of-type(6) { grid-area: f; }
			}
		}
	}

	@include MixScreen(null, $sizeXL) { @include ViewTourPhoto(()); }
	@include MixScreen($sizeXL, null) { @include ViewTourPhoto(()); }
}


.block.tour_take_things {
	@mixin ViewTakeThings($params: null) {
		$default: (
			display: grid,
			margin_bottom: 0
		);

		padding: 10%;
		.print_btn { width: 1.5rem; height: 1.5rem; margin-left: 1rem; cursor: pointer; background-image: url("pic/print.svg"); }
		> div {
			&:first-child {
				display: flex; justify-content: center;
			}
			&:last-child {
				display: GetValue($default, $params, 'display'); grid-row-gap: 1.5rem; grid-column-gap: 1.5rem;
				> div {
					&:not(:last-child) { margin-bottom: GetValue($default, $params, 'margin_bottom'); }
					&:nth-of-type(1) { grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 4; }
					&:nth-of-type(2) { grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; }
					&:nth-of-type(3) { grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3; }
					&:nth-of-type(4) { grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4; }
					> div {
						&:first-child { font-family: Intro, sans-serif; padding-bottom: 0.5rem; }
						&:last-child {
							display: flex; flex-direction: column; align-items: start;
							> label {
								margin: 0.2rem 0; cursor: pointer;
								> input {
									display: none;
									&:checked + span:before { background-color: $color_main_green; border: 1px solid $color_main_green; background-image: url("pic/cheked.svg"); background-position: center; background-size: 65%; background-repeat: no-repeat; }
								}
								> span:before {
									content: "";
									height: 1rem; width: 1rem; display: inline-block; margin-right: 0.5rem; border-radius: 50%; border: 1px solid $color_gray;
								}
							}
						}
					}
				}
			}
		}
	}

	@include MixScreen(null, $sizeS) { @include ViewTakeThings((display: revert, margin_bottom: 8%)); }
	@include MixScreen($sizeS, null) { @include ViewTakeThings(()); }
}


.block.tour_form {
	@mixin ViewTourForm($params: null) {
		$default: (
				margin: 0 15% 0 45%,
				display: flex,
				margin_input: 0 4% 0 0,
				width_input: 48%,
				width_form: 40%,
				font_size_text_area: 24px

		);

		padding: 10%; margin: 0 auto; background-image: url("pic/form_tour.jpg"); background-position: center;
		> div {
			margin: GetValue($default, $params, 'margin');
			&:first-child { text-align: center !important; }
			&:last-child {
				width:  GetValue($default, $params, 'width_form');
				> div {
					&:nth-of-type(1) {
						display: GetValue($default, $params, 'display');
						> div {
							padding: 16px; background-color: $color_semi_white; border-radius: 24px; width: GetValue($default, $params, 'width_input');
							&:not(:last-child) { margin: GetValue($default, $params, 'margin_input'); }
							> input { width: 100%; padding: 0; margin: 0; border-bottom: none; }
						}

					}
					&:nth-of-type(2) {
						background-color: $color_semi_white; margin-top: 4%; border-radius: 24px; height: 150px;
						> textarea { width: 90%; outline: none; -moz-appearance: none; resize: none; border: none; background-color: transparent; border-radius: 24px; padding: 16px; font-family: MoshitaMono, sans-serif; font-size: GetValue($default, $params, 'font_size_text_area'); }
					}
					&:nth-of-type(3) {
						margin-top: 8%;
						> a { width: 100%; box-sizing: border-box; }
					}
				}
			}
		}
	}

	@include MixScreen(null, $sizeXL) { @include ViewTourForm((margin: 0 auto, display: revert, margin_input: 0 0 4% 0, width_input: revert, width_form: 100%, font_size_text_area: 18px)); }
	@include MixScreen($sizeXL, $size3XL) { @include ViewTourForm((margin: 0 auto, display: revert, margin_input: 0 0 4% 0, width_input: revert, width_form: 100%, font_size_text_area: 18px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewTourForm((font_size_text_area: 20px)); }
	@include MixScreen($size4XL, null) { @include ViewTourForm(()); }
}


@include MixScreen(null, null, false, true) {
	header, footer, body > span.arrow_top, main > .block:not(.print) { display: none; }
	body, .block.tour_take_things span.print_btn { background: none; }
}