@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.page_one_adventure {

	.adventure_text {
		margin: -120px 0 0; position: relative; background-color: $color_white; padding: 6% 8%; border-radius: 60px;
		> div {
			&:first-child { margin-bottom: 4%; }
			&:last-child {
				display: flex;
				> div {
					width: 49%; height: 18rem; background-color: $color_gray; cursor: pointer; border-radius: 40px;
					&:not(:last-child) { margin-right: 2%; }
				}
			}
		}
	}
}

