@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.block.top {
	@mixin ViewTop($params: null) {
		$default: (
				size_logo: 80px,
				padding_left_logo: 8%,
				display_menu: flex
		);
		position: relative; display: flex;
		> div {
			&:first-child {
				flex: auto; padding-top: 2%; padding-left: GetValue($default, $params, 'padding_left_logo');
				> a { display: inline-block; background-image: url("pic/logo_travel.png"); background-position: left; background-size: cover; background-repeat: no-repeat; height: GetValue($default, $params, 'size_logo'); width: GetValue($default, $params, 'size_logo'); }
			}
			&:last-child {
				flex: none; display: GetValue($default, $params, 'display_menu'); padding-top: 2%; padding-right: 6%;
				> div {  }
			}
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewTop((size_logo: 50px, padding_left_logo: 10%, display_menu: none)); }
	@include MixScreen($sizeL, $size3XL) { @include ViewTop((size_logo: 60px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewTop((size_logo: 70px)); }
	@include MixScreen($size4XL, null) { @include ViewTop(()); }
}

.block.menu {
	> div {
		margin: 0.5rem;
		> a {
			color: $color_white; text-decoration: none; transition: all 500ms ease;
			&:hover { border-bottom: solid 1px $color_white; }
		}
	}
}

.block.hat.main {
	@mixin ViewHat($params: null) {
		$default: (
				fontsize_hat: 2rem,
				fontsize_3: 1.3rem,
		);

		position: relative;
		> div {
			&:first-child { background-position: bottom; background-image: url("pic/hat.jpg"); background-size: cover; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
			&:last-child {
				padding: 2% 12% 10%; position: relative;
				> div {
					color: $color_white;
					&:nth-of-type(1) {}
					&:nth-of-type(2) { font-family: Intro, sans-serif; font-size: GetValue($default, $params, 'fontsize_hat'); padding: 0.3rem 0 0.6rem 0; }
					&:nth-of-type(3) { font-family: Intro, sans-serif; width: 100%; font-size: GetValue($default, $params, 'fontsize_3'); }
					&:nth-of-type(4) {
						> span {
							margin-top: 2%; display: inline-flex; align-items: center; cursor: pointer;
							> span {
								&:first-child { background-image: url(pic/play.png); width: 30px; height: 30px; background-position: center; background-size: 80%; background-repeat: no-repeat; margin-right: 0.3rem; }
								&:last-child {}
							}
						}
					}
				}
			}
		}
	}

	@include MixScreen(null, $sizeM) { @include ViewHat((fontsize_hat: 1.5rem, fontsize_3: 16px)); }
	@include MixScreen($sizeM, $sizeXL) { @include ViewHat((fontsize_3: 1rem)); }
	//@include MixScreen($sizeM, $size3XL) { @include ViewHat((fontsize_3: 18px)); }
	//@include MixScreen($size3XL, $size4XL) { @include ViewHat((fontsize_3: 20px)); }
	@include MixScreen($sizeXL, null) { @include ViewHat(); }


}

.block.check_tour {
	@mixin ViewCheckTour($params:null) {
		$default: (
				top: -50px,
				height: 0,
				fontsize_select: 18px,
				widht_form: 1200px,
				borderradius_form: 40px,
				display_form: flex,
				margin_form: 0 5% 0 0,
				widht_select: 50%,
				margin_select: 0 5% 0 0,
				display_select: flex,
				width_input: auto,
				padding_input: 0.6rem 1.2rem
		);

		//position: relative;
		height: GetValue($default, $params, 'height'); margin: 0 auto;
		> div { position: relative; left: 0; right: 0; top: GetValue($default, $params, 'top'); text-align: center;
			> form {
				width: GetValue($default, $params, 'widht_form'); padding: 1rem 3rem; margin: 0 auto; background-color: $color_white; display: GetValue($default, $params, 'display_form'); justify-content: center; border-radius: GetValue($default, $params, 'borderradius_form');
				> div {
					margin-top: auto; margin-bottom: auto;
					&:first-child {
						flex: auto; display: GetValue($default, $params, 'display_select'); margin: GetValue($default, $params, 'margin_form');
						> div {
							&:nth-of-type(1) {
								> div { padding-bottom: 0.5rem; }
							}
							&:nth-of-type(2) {
								> div { padding-bottom: 0.5rem; }
							}
						}
					}
					&:last-child {
						> a { width: GetValue($default, $params, 'width_input'); padding: GetValue($default, $params, 'padding_input'); }
						//> input { width: GetValue($default, $params, 'width_input'); }
					}
				}
			}
		}

		div > form > div > div {
			text-align: left; width: GetValue($default, $params, 'widht_select');
			&:first-child { margin: GetValue($default, $params, 'margin_select'); }
			> select {
				width: 100%; font-family: SourceSansPro, sans-serif; font-size: GetValue($default, $params, 'fontsize_select'); outline: none; padding-bottom: 6px; border: none; border-bottom: 2px solid $color_gray; padding-right: 32px; appearance: none; background-image: url('pic/arrow/down/darkgray.svg'); background-repeat: no-repeat; background-position: right; background-size: 24px;
			}
			> div { color: $color_main_green; font-weight: bold; }
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewCheckTour((fontsize_select: 12px, widht_form: none, borderradius_form: none, display_form: revert, margin_form: 0 0 1rem 0, widht_select: 100%, margin_select: 0 0 5% 0, display_select: revert, width_input: 100%, padding_input: 0.6rem 0, top: 0, height: revert)); }
	@include MixScreen($sizeL, $sizeX) { @include ViewCheckTour((fontsize_select: 12px, widht_form: none, borderradius_form: none, display_form: revert, margin_form: 0 0 1rem 0, top: 0, height: revert)); }
	@include MixScreen($sizeX, $size2XL) { @include ViewCheckTour((fontsize_select: 12px, widht_form: none, borderradius_form: none, top: 0, height: revert)); }
	@include MixScreen($size2XL, $size3XL) { @include ViewCheckTour((fontsize_select: 12px, widht_form: none, borderradius_form: none, top: 0, height: revert)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewCheckTour((fontsize_select: 14px, widht_form: none, borderradius_form: none, top: 0, height: revert)); }
	@include MixScreen($size4XL, $size5XL) { @include ViewCheckTour((widht_form: none, borderradius_form: none, top: 0, height: revert)); }
	@include MixScreen($size5XL, null) { @include ViewCheckTour(); }
}

.block.about_us {

	@mixin ViewAbout($params:null) {
		$default: (
		padding: 190px 10% 10%
				//head_fontsize: 1.5rem
		);

		padding: GetValue($default, $params, 'padding');
		> div {
			//text-align: center;
			&:nth-of-type(1) { color: $color_main_green; }
			//&:nth-of-type(2) { padding-bottom: 4%; line-height: 1.5; }
			&:nth-of-type(3) {}
		}
	}
	@include MixScreen(null, $size5XL) { @include ViewAbout((padding:10%)); }
	@include MixScreen($size5XL, null) { @include ViewAbout(()); }
}

.block.tours {

	@mixin ViewToursMain($params:null) {
		$default: (
				//head_tours_fontsize: 1.5rem,
				head_tour_fontsize: 20px,
				display_tour: flex,
				margin_right_tours: 50px,
				margin_bottom_pic: 0,
				padding_bottom_pic: 35%,
				width_tour: 50%,
				width_text: 80%,
				padding_left_text: 8%,
				padding_bottom_text: 30px,
				text-align: revert


		);

		> div {
			margin-bottom: 10%;
			> div {
				//&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: GetValue($default, $params, 'head_tours_fontsize'); padding-bottom: 4%; }
				&:nth-of-type(2) {
					display: flex; flex-wrap: wrap;
					> div {
						color: $color_gray; flex: none; margin-bottom: 4%;
						&:not(:last-child) { margin-right: GetValue($default, $params, 'margin_right_tours'); }
						&:hover { color: $color_main_green; cursor: pointer; }
					}
				}
				&:nth-of-type(3) {
					> div {
						display: GetValue($default, $params, 'display_tour');
						> div {
							width: GetValue($default, $params, 'width_tour'); margin: auto;
							&:first-child { padding-bottom: GetValue($default, $params, 'padding_bottom_pic'); margin-bottom: GetValue($default, $params, 'margin_bottom_pic'); background-color: $color_gray; border-radius: 24px; }
							&:last-child {
								> div {
									padding-left: GetValue($default, $params, 'padding_left_text');
									&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: GetValue($default, $params, 'head_tour_fontsize'); padding-bottom: GetValue($default, $params, 'padding_bottom_text'); }
									&:nth-of-type(2) { width: GetValue($default, $params, 'width_text'); padding-bottom: 50px; }
									&:nth-of-type(3) { text-align: GetValue($default, $params, 'text-align'); }
								}
							}
						}
					}
				}
			}
		}
	}

	@include MixScreen(null, $sizeM) { @include ViewToursMain((head_tour_fontsize: 12px, display_tour: revert, margin_right_tours: 30px, padding_bottom_pic: 50%, margin_bottom_pic: 4%, width_tour: 100%, padding_left_text: 0, padding_bottom_text: 2%, width_text: 100%, text-align: center)); }
	@include MixScreen($sizeM, $sizeXL) { @include ViewToursMain((head_tour_fontsize: 16px, display_tour: revert, margin_right_tours: 30px, padding_bottom_pic: 50%, margin_bottom_pic: 4%, width_tour: 100%, padding_left_text: 0, padding_bottom_text: 2%, width_text: 100%, text-align: center)); }
	@include MixScreen($sizeXL, $size2XL) { @include ViewToursMain((head_tour_fontsize: 16px)); }
	@include MixScreen($size2XL, $size3XL) { @include ViewToursMain((head_tour_fontsize: 16px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewToursMain((head_tour_fontsize: 18px)); }
	@include MixScreen($size4XL, $size5XL) { @include ViewToursMain(()); }
	@include MixScreen($size5XL, null) { @include ViewToursMain(); }

}

.block.adventure {
	padding: 5%; background-position: center; background-image: url("pic/adventure.jpg"); background-size: cover;
	> div { text-align: center !important;
		> div {
			color: $color_white;
			//&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: 1.5rem; }
			&:nth-of-type(1) { padding-bottom: 0 !important; }
			&:nth-of-type(2) { padding: 0.7rem 0 1.4rem 0; }
		}
	}
}

.block.photo {

	@mixin ViewPhoto($params: null) {
		$default: (
				head_photo_padding: 120px,
				//head_photo_fontsize: 1.5rem,
				mini_photo_count: 3

		);

		.head_photo {
			display: flex; padding-top: GetValue($default, $params, 'head_photo_padding');
			> div {
				&:nth-of-type(1) { flex: auto; }
			}
		}
		> div {
			&:nth-of-type(2) { display: flex; align-items: center; margin-bottom: 50px; }
			&:nth-of-type(3) { text-align: center; padding-bottom: 20%; }
		}
		.mini_photo {
			flex: auto; margin: 0 2%; display: grid; grid-template-columns: repeat(GetValue($default, $params, 'mini_photo_count'), 1fr); grid-column-gap: 2%; grid-row-gap: 2%; color: $color_white;
			> div {
				background-color: $color_gray; border-radius: 24px; display: flex; align-items: end; cursor: pointer; padding-top: 70%; position: relative;
				&:nth-of-type(1) {  }
				&:nth-of-type(2) {  }
				&:nth-of-type(3) {  }
				&:hover { box-shadow: $box_shadow_white; }
				> div { padding: 24px 30px; position: absolute; }
			}
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewPhoto((head_photo_padding: 50px, head_photo_fontsize: 1rem, mini_photo_count: 1)); }
	@include MixScreen($sizeL, $size4XL) { @include ViewPhoto((head_photo_padding: 100px, head_photo_fontsize: 1rem, mini_photo_count: 2)); }
	@include MixScreen($size2XL, $size4XL) { @include ViewPhoto((head_photo_fontsize: 1.2rem)); }
	@include MixScreen($size4XL, null) { @include ViewPhoto(); }
}