@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.photo_album { padding: 10% 0; }
.photo_line1 {
	@mixin ViewPhotoAlbum($params: null) {
		$default: (
				photo_between: 24px
		);
		&:not(:last-child) { padding-bottom: GetValue($default, $params, 'photo_between'); }
		display: grid; grid-row-gap: GetValue($default, $params, 'photo_between'); grid-column-gap: GetValue($default, $params, 'photo_between'); grid-template-areas:
        "a b b c";
		> div {
			background-color: $color_gray; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 24px; cursor: pointer; padding-top: 42%;
			&:hover { box-shadow: $box_shadow_white; }
			&:nth-of-type(1) { grid-area: a; }
			&:nth-of-type(2) { grid-area: b; }
			&:nth-of-type(3) { grid-area: c; }
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewPhotoAlbum((photo_between: 6px)); }
	@include MixScreen($sizeL, $sizeXL) { @include ViewPhotoAlbum((photo_between: 10px)); }
	@include MixScreen($sizeXL, $size3XL) { @include ViewPhotoAlbum((photo_between: 12px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewPhotoAlbum((photo_between: 20px)); }
	@include MixScreen($size4XL, null) { @include ViewPhotoAlbum(); }
}

.photo_line2 {
	@mixin ViewPhotoAlbum($params: null) {
		$default: (
				photo_between: 24px
		);
		&:not(:last-child) { padding-bottom: GetValue($default, $params, 'photo_between'); }
		display: grid; grid-row-gap: GetValue($default, $params, 'photo_between'); grid-column-gap: GetValue($default, $params, 'photo_between'); grid-template-areas:
        "a a b c";
		> div {
			background-color: $color_gray; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 24px; cursor: pointer; padding-top: 42%;
			&:hover { box-shadow: $box_shadow_white; }
			&:nth-of-type(1) { grid-area: a; }
			&:nth-of-type(2) { grid-area: b; }
			&:nth-of-type(3) { grid-area: c; }
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewPhotoAlbum((photo_between: 6px)); }
	@include MixScreen($sizeL, $sizeXL) { @include ViewPhotoAlbum((photo_between: 10px)); }
	@include MixScreen($sizeXL, $size3XL) { @include ViewPhotoAlbum((photo_between: 12px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewPhotoAlbum((photo_between: 20px)); }
	@include MixScreen($size4XL, null) { @include ViewPhotoAlbum(); }
}

.photo_line3 {
	@mixin ViewPhotoAlbum($params: null) {
		$default: (
				photo_between: 24px
		);
		&:not(:last-child) { padding-bottom: GetValue($default, $params, 'photo_between'); }
		display: grid; grid-row-gap: GetValue($default, $params, 'photo_between'); grid-column-gap: GetValue($default, $params, 'photo_between'); grid-template-areas:
        "a b c c";
		> div {
			background-color: $color_gray; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 24px; cursor: pointer; padding-top: 42%;
			&:hover { box-shadow: $box_shadow_white; }
			&:nth-of-type(1) { grid-area: a; }
			&:nth-of-type(2) { grid-area: b; }
			&:nth-of-type(3) { grid-area: c; }
		}
	}

	@include MixScreen(null, $sizeL) { @include ViewPhotoAlbum((photo_between: 6px)); }
	@include MixScreen($sizeL, $sizeXL) { @include ViewPhotoAlbum((photo_between: 10px)); }
	@include MixScreen($sizeXL, $size3XL) { @include ViewPhotoAlbum((photo_between: 12px)); }
	@include MixScreen($size3XL, $size4XL) { @include ViewPhotoAlbum((photo_between: 20px)); }
	@include MixScreen($size4XL, null) { @include ViewPhotoAlbum(); }
}

// .photo_album {
//
//	@mixin ViewPhotoAlbum($params: null) {
//		$default: (
//				photo_between: 24px
//		);
//		padding: 10% 0;
//		display: grid; grid-row-gap: GetValue($default, $params, 'photo_between'); grid-column-gap: GetValue($default, $params, 'photo_between'); grid-template-areas:
//        "a b b c"
//		"d d e f"
//		"g h i i"
//		"j k k l"
//		"m m n o"
//		"p q r r";
//		> div {
//			background-color: $color_gray; border-radius: 24px; cursor: pointer; padding-top: 42%;
//			&:hover { box-shadow: $box_shadow_white; }
//			&:nth-of-type(1) { grid-area: a; }
//			&:nth-of-type(2) { grid-area: b; }
//			&:nth-of-type(3) { grid-area: c; }
//			&:nth-of-type(4) { grid-area: d; }
//			&:nth-of-type(5) { grid-area: e; }
//			&:nth-of-type(6) { grid-area: f; }
//			&:nth-of-type(7) { grid-area: g; }
//			&:nth-of-type(8) { grid-area: h; }
//			&:nth-of-type(9) { grid-area: i; }
//			&:nth-of-type(10) { grid-area: j; }
//			&:nth-of-type(11) { grid-area: k; }
//			&:nth-of-type(12) { grid-area: l; }
//			&:nth-of-type(13) { grid-area: m; }
//			&:nth-of-type(14) { grid-area: n; }
//			&:nth-of-type(15) { grid-area: o; }
//			&:nth-of-type(16) { grid-area: p; }
//			&:nth-of-type(17) { grid-area: q; }
//			&:nth-of-type(18) { grid-area: r; }
//		}
//	}
//
//	@include MixScreen(null, $sizeL) { @include ViewPhotoAlbum((photo_between: 6px)); }
//	@include MixScreen($sizeL, $sizeXL) { @include ViewPhotoAlbum((photo_between: 10px)); }
//	@include MixScreen($sizeXL, $size3XL) { @include ViewPhotoAlbum((photo_between: 12px)); }
//	@include MixScreen($size3XL, $size4XL) { @include ViewPhotoAlbum((photo_between: 20px)); }
//	@include MixScreen($size4XL, null) { @include ViewPhotoAlbum(); }
//
//}
