$color_main_green: #365f41;
$color_main: #ece9e0;
$color_text_main: #2d2c2c;
$color_light_gray: #fdfdfd;

@font-face { font-family: Intro; src: url("fonts/IntroDemo-BlackCAPS.otf");  font-style: normal; font-weight: 400; }
@font-face { font-family: MoshitaMono; src: url("fonts/MoshitaMono.ttf"); font-style: normal; font-weight: 400; }
@font-face { font-family: InterTight; src: url("fonts/InterTight-Regular.ttf"); font-style: normal; font-weight: 400; }