@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.windows {
	@mixin ViewWindow($params: null) {
		$default: (
				width_content: 240px,
		);
		.instance {
			&:last-child { background-color: #00000070; }
			position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;
			.space { position: fixed; top: 0; right: 0; left: 0; bottom: 0; }
			.window {
				border-radius: 40px; overflow: hidden; box-shadow: $box_shadow_white;
				position: relative;
				max-height: 80%; max-width: 80%; display: flex; flex-direction: column;
				> div { }
				.head {
					background-color: $color_main_green; color: $color_white; display: flex; justify-content: end; align-items: center;
					.title { padding: 1rem 2rem; flex: auto; }
					.close { background-image: url("pic/cross_white.svg"); background-size: cover; height: 2rem; width: 2rem; margin-right: 2rem; cursor: pointer; }
				}
				.head_null_title {
					background-color: $color_white; display: flex; justify-content: end;
					.close { background-image: url("pic/cross_green.svg"); background-size: cover; height: 2rem; width: 2rem;  margin: 0.6rem 2rem; cursor: pointer; }
				}
				.container {
					background-color: $color_white; overflow: hidden; overflow-y: auto;  padding: 1.5rem 2.5rem; text-align: center;
					> form {
						display: flex; flex-direction: column; width: GetValue($default, $params, 'width_content');
						> input { &:not(:last-child) { margin-bottom: 24px; } }
					}
				}
				.container_null_title { background-color: $color_white; overflow: hidden; overflow-y: auto;  padding: 1.5rem 2.5rem 3.2rem; text-align: center; }
			}
		}
	}

	@include MixScreen(null, $size3XL) { @include ViewWindow((width_content: 180px)); }
	@include MixScreen($size3XL, null) { @include ViewWindow(()); }
}

