@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.block.footer {
	@mixin ViewFooter($params: null) {
		$default: (
				width_pic: 120px,
				height_pic: 120px
		);
		background-color: $color_main_green; color: $color_white;
		> div {
			display: flex; padding: 10% 10% 48px;
			> div {
				&:nth-of-type(1) {
					> div:first-child {
						margin-bottom: 16%;
						> a { display: inline-block; background-image: url("pic/logo_travel.png"); background-position: left; background-size: cover; background-repeat: no-repeat; height: GetValue($default, $params, 'height_pic'); width: GetValue($default, $params, 'width_pic'); cursor: pointer; }
					}
				}
				&:nth-of-type(2) {
					flex: auto; display: flex; flex-direction: column; padding-left: 10%;
					> div:not(:last-child) { margin-bottom: 3%; }
					a {
						color: $color_white; text-decoration: none;
						&:hover { text-decoration: underline; }
					}
				}
				&:nth-of-type(3) {
					display: flex; flex-direction: column; width: 30%;
					input {
						padding: 8px 0; margin-right: 0;
						&:not(:last-child) { margin-bottom: 32px; }
					}
				}
			}
		}

		.number { padding-bottom: 8px; }
		.contact {
			display: flex;
			> div {
				width: 30px; height: 30px; background-position: center; background-size: 80%; background-repeat: no-repeat; cursor: pointer;
				&:nth-of-type(1) { background-image: url("pic/telegram.png"); }
				&:nth-of-type(2) { background-image: url("pic/youtube.png"); }
				&:nth-of-type(3) { background-image: url("pic/vk.png"); }
				&:nth-of-type(4) { background-image: url("pic/instagram.png"); }
				&:not(:last-child) { margin-right: 8px; }
			}
		}
	}
	@include MixScreen(null, $sizeL) { @include ViewFooter((width_pic: 50px, height_pic: 50px)); }
	@include MixScreen($sizeL, $size3XL) { @include ViewFooter((width_pic: 80px, height_pic: 80px)); }
	@include MixScreen($size3XL, null) { @include ViewFooter(); }
}