@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.block.footer {
	@mixin ViewFooter($params: null) {
		$default: (
				size_pic: 120px,
				display_footer: flex,
				display_cont_menu: flex,
				margin_cont_menu: 0,
				width_form: 30%,
				margin_form: 0,
				margin_footer_cont: 0,
				textalign_footer_cont: left,
				textalign_input: left,
				paddingleft_menu: 0,
				//textalign_footer_cont: center,
				//MARGIN_FOOTER_CONT: 2rem auto,
				//width_form: 60%,
				//margin_form: 2rem auto,
		);
		background-color: $color_main_green; color: $color_white;
		> div {
			display: GetValue($default, $params, 'display_footer'); padding: 5% 10% 3%;
			> div {
				flex: auto; display: GetValue($default, $params, 'display_cont_menu'); margin-bottom:  GetValue($default, $params, 'margin_cont_menu');
				> div { margin: GetValue($default, $params, 'margin_footer_cont'); text-align: GetValue($default, $params, 'textalign_footer_cont'); }
				.footer_contact {
					width: 50%;
					> div:first-child {
						margin-bottom: 1rem;
						> a { display: inline-block; background-image: url("pic/logo_travel.png"); background-position: left; background-size: cover; background-repeat: no-repeat; height: GetValue($default, $params, 'size_pic'); width: GetValue($default, $params, 'size_pic'); cursor: pointer; }
					}
				}
				.footer_menu {
					flex: auto; display: flex; flex-direction: column; width: 50%; padding-left: GetValue($default, $params, 'paddingleft_menu');
					> div:not(:last-child) { margin-bottom: 3%; }
					a {
						color: $color_white; text-decoration: none;
						&:hover { text-decoration: underline; }
					}
				}
			}
			> form {
				display: flex; flex-direction: column; width: GetValue($default, $params, 'width_form'); margin: GetValue($default, $params, 'margin_form');
				input {
					padding: 0.4rem 0; margin-right: 0;
					&:not(:last-child) { margin-bottom: 32px; text-align: GetValue($default, $params, 'textalign_input'); }
				}
			}
		}

		.number { padding-bottom: 8px; }
		.contact {
			display: flex;
			> div {
				width: 30px; height: 30px; background-position: center; background-size: 80%; background-repeat: no-repeat; cursor: pointer;
				&:nth-of-type(1) { background-image: url("pic/telegram.png"); }
				&:nth-of-type(2) { background-image: url("pic/youtube.png"); }
				&:nth-of-type(3) { background-image: url("pic/vk.png"); }
				&:nth-of-type(4) { background-image: url("pic/instagram.png"); }
				&:not(:last-child) { margin-right: 8px; }
			}
		}
	}
	@include MixScreen(null, $sizeXS) { @include ViewFooter((size_pic: 80px, display_footer: revert, display_cont_menu: revert, margin_cont_menu: 2rem, margin_footer_cont: 2rem auto, textalign_footer_cont: center, width_form: 60%, margin_form: 2rem auto, textalign_input: center)); }
	@include MixScreen($sizeXS, $sizeL) { @include ViewFooter((size_pic: 60px, display_footer: revert, margin_cont_menu: 2rem, width_form: 100%, paddingleft_menu: 15%)); }
	//@include MixScreen($sizeL, $sizeXL) { @include ViewFooter((size_pic: 80px, display_footer: revert, margin_cont_menu: 2rem, width_form: 50%)); }
	@include MixScreen($sizeL, $size3XL) { @include ViewFooter((size_pic: 80px)); }
	@include MixScreen($size3XL, null) { @include ViewFooter(); }
}