@font-face {
  font-family: Intro;
  src: url("fonts/IntroDemo-BlackCAPS.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: MoshitaMono;
  src: url("fonts/MoshitaMono.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: InterTight;
  src: url("fonts/InterTight-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
html {
  height: 100%;
}

html, input {
  font-family: MoshitaMono, sans-serif;
  font-size: x-large;
}

body {
  background-color: #ece9e0;
  margin: 0;
  color: #2d2c2c;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

button, input[type=button], input[type=submit] {
  padding: 0.4rem 0.8rem;
  border-radius: 40px;
  color: white;
  background-color: #365f41;
  border: 2px solid #365f41;
  cursor: pointer;
  transition: all 500ms ease;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  button, input[type=button], input[type=submit] {
    font-size: 0.8rem;
    border: 2px solid #365f41;
  }
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
  background: transparent;
  color: #365f41;
}
button.transparent, input[type=button].transparent, input[type=submit].transparent {
  padding: 0.4rem 0.8rem;
  border-radius: 40px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  button.transparent, input[type=button].transparent, input[type=submit].transparent {
    font-size: 0.8rem;
    border: 2px solid white;
  }
}
button.border, input[type=button].border, input[type=submit].border {
  padding: 0.4rem 0.8rem;
  border-radius: 40px;
  color: #365f41;
  background-color: transparent;
  border: 2px solid #365f41;
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  button.border, input[type=button].border, input[type=submit].border {
    font-size: 0.8rem;
    border: 2px solid #365f41;
  }
}
button.border:hover, input[type=button].border:hover, input[type=submit].border:hover {
  border: 2px solid #739878;
  color: #739878;
}

input[type=text] {
  border: none;
  margin-bottom: 4px;
  padding: 15px 0;
  border-bottom: 1px solid darkgrey;
  background-color: transparent;
  outline: none;
}

.block.top {
  position: relative;
  display: flex;
}
.block.top > div:first-child {
  flex: auto;
  padding-top: 2%;
  padding-left: 8%;
}
.block.top > div:first-child > a {
  display: inline-block;
  background-image: url("pic/logo_travel.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
.block.top > div:last-child {
  flex: none;
  display: flex;
  padding-top: 2%;
  padding-right: 6%;
}
.block.menu > a {
  color: #ffffff;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 500ms ease;
}
.block.menu > a:hover {
  text-decoration: underline;
}

.block.hat.main {
  position: relative;
}
.block.hat.main > div:first-child {
  background-position: bottom;
  background-image: url("pic/hat.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block.hat.main > div:last-child {
  padding: 30px 350px 150px;
  position: relative;
}
.block.hat.main > div:last-child > div {
  color: #ffffff;
}
.block.hat.main > div:last-child > div:nth-of-type(2) {
  font-family: Intro, sans-serif;
  font-size: 2rem;
  padding: 0.3rem 0 0.6rem 0;
}
.block.hat.main > div:last-child > div:nth-of-type(3) {
  font-family: Intro, sans-serif;
}
.block.hat.main > div:last-child > div:nth-of-type(4) > span {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.block.hat.main > div:last-child > div:nth-of-type(4) > span > span:first-child {
  background-image: url(pic/play.png);
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-right: 0.3rem;
}
.block.hat.other {
  position: relative;
}
.block.hat.other > div:first-child {
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block.hat.other > div:first-child.about_hat {
  background-image: url("pic/about_hat.jpg");
  background-position: center;
}
.block.hat.other > div:first-child.tours_hat {
  background-image: url("pic/tour_hat.jpg");
  background-position: center;
}
.block.hat.other > div:first-child.adventure_hat {
  background-image: url("pic/adventure_hat.jpg");
  background-position: bottom;
}
.block.hat.other > div:first-child.one_adventure_hat {
  background-image: url("pic/one_adventure_hat.jpg");
  background-position: center;
}
.block.hat.other > div:first-child.photo_hat {
  background-image: url("pic/photo_hat.jpg");
  background-position: center;
}
.block.hat.other > div:first-child.tour_hat {
  background-image: url("pic/baikal.jpg");
  background-position: center;
}
.block.hat.other > div:last-child {
  padding: 100px 350px 200px;
  position: relative;
  text-align: center;
}
.block.hat.other > div:last-child > div {
  color: #ffffff;
}
.block.hat.other > div:last-child > div:nth-of-type(1) {
  font-family: Intro, sans-serif;
  font-size: 2rem;
}
.block.check_tour {
  position: relative;
  height: 0;
}
.block.check_tour > div {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  text-align: center;
}
.block.check_tour > div > form {
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
}
.block.check_tour > div > form > div {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 0.9rem;
}
.block.check_tour > div > form > div:nth-of-type(1) > div {
  padding-bottom: 0.5rem;
}
.block.check_tour > div > form > div:nth-of-type(2) > div {
  padding-bottom: 0.5rem;
}
.block.check_tour > div > form > div:nth-of-type(3) > div {
  padding-bottom: 0.5rem;
}
.block.check_tour div > form > div {
  text-align: left;
}
.block.check_tour div > form > div > select {
  font-family: MoshitaMono, sans-serif;
  font-size: x-large;
  outline: none;
  padding-bottom: 6px;
  border: none;
  border-bottom: 2px solid #a9a9a9;
  padding-right: 30px;
  appearance: none;
  background-image: url("pic/arrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}
.block.check_tour div > form > div > div {
  color: #365f41;
  font-weight: bold;
}

.block.p {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
}

.block.about_us {
  padding: 190px 10%;
}
.block.about_us > div {
  text-align: center;
}
.block.about_us > div:nth-of-type(1) {
  color: #365f41;
}
.block.about_us > div:nth-of-type(2) {
  font-family: Intro, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 70px;
  line-height: 1.5;
}
.block.tours > div {
  margin-bottom: 120px;
}
.block.tours > div > div:nth-of-type(1) {
  font-family: Intro, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 70px;
}
.block.tours > div > div:nth-of-type(2) {
  display: flex;
  padding-bottom: 50px;
}
.block.tours > div > div:nth-of-type(2) > div {
  margin-right: 50px;
  color: #a9a9a9;
}
.block.tours > div > div:nth-of-type(2) > div:hover {
  color: #365f41;
  cursor: pointer;
}
.block.tours > div > div:nth-of-type(3) {
  display: flex;
}
.block.tours > div > div:nth-of-type(3) > div {
  width: 50%;
  margin: auto;
}
.block.tours > div > div:nth-of-type(3) > div:first-child {
  padding-bottom: 35%;
  background-color: #a9a9a9;
  border-radius: 24px;
}
.block.tours > div > div:nth-of-type(3) > div:last-child > div {
  padding-left: 4%;
}
.block.tours > div > div:nth-of-type(3) > div:last-child > div:nth-of-type(1) {
  font-family: Intro, sans-serif;
  padding-bottom: 30px;
}
.block.tours > div > div:nth-of-type(3) > div:last-child > div:nth-of-type(2) {
  width: 400px;
  padding-bottom: 50px;
}

.block.adventure {
  padding: 80px;
  background-position: center;
  background-image: url("pic/adventure.jpg");
  background-size: cover;
}
.block.adventure > div {
  text-align: center;
}
.block.adventure > div > div {
  color: #ffffff;
}
.block.adventure > div > div:nth-of-type(1) {
  font-family: Intro, sans-serif;
  font-size: 1.5rem;
}
.block.adventure > div > div:nth-of-type(2) {
  padding: 0.7rem 0 1.4rem 0;
}

.block.photo .head_photo {
  display: flex;
  padding: 120px 0 50px;
}
.block.photo .head_photo > div:nth-of-type(1) {
  flex: auto;
  font-family: Intro, sans-serif;
  font-size: 1.5rem;
}
.block.photo .head_photo > div:nth-of-type(2) {
  display: flex;
  margin: auto;
}
.block.photo .head_photo > div:nth-of-type(2) > div {
  color: #a9a9a9;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  transition: all 500ms ease;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.block.photo .head_photo > div:nth-of-type(2) > div:hover {
  color: #365f41;
  border: 1px solid #365f41;
}
.block.photo .head_photo > div:nth-of-type(2) > div:first-child {
  margin-right: 5px;
  background-image: url("pic/arrow_left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}
.block.photo .head_photo > div:nth-of-type(2) > div:last-child {
  background-image: url("pic/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}
.block.photo > div:nth-of-type(3) {
  text-align: center;
  padding-bottom: 240px;
}
.block.photo .mini_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  padding-bottom: 50px;
  color: #ffffff;
}
.block.photo .mini_photo > div {
  background-color: #a9a9a9;
  border-radius: 24px;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.block.photo .mini_photo > div:hover {
  box-shadow: 0 0 9px 2px rgba(45, 44, 44, 0.1294117647);
}
.block.photo .mini_photo > div > div {
  padding: 24px 30px;
}

.block.form {
  display: flex;
  margin-bottom: 120px;
}
.block.form .form_input {
  width: 40%;
  margin-right: 6%;
}
.block.form .form_input > div:first-child {
  font-family: Intro, sans-serif;
  margin-bottom: 48px;
}
.block.form .form_input > div:last-child {
  margin-top: 48px;
}
.block.form .form_input input {
  display: block;
  width: 100%;
}
.block.form .form_contact {
  width: 54%;
}
.block.form .form_contact > div {
  height: 50%;
  display: flex;
}
.block.form .form_text {
  color: #a9a9a9;
  flex: auto;
}
.block.form .form_text > div:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 6px;
}
.block.form .form_text > div:nth-of-type(2) {
  margin-bottom: 14px;
}
.block.form .form_text > div:nth-of-type(3) {
  display: flex;
  margin-bottom: 14px;
}
.block.form .form_text > div:nth-of-type(3) > div:last-child {
  color: #2d2c2c;
}
.block.form .form_text > div:nth-of-type(4) {
  display: flex;
}
.block.form .form_text > div:nth-of-type(4) > div {
  width: 30px;
  height: 30px;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.block.form .form_text > div:nth-of-type(4) > div:first-child {
  background-image: url("pic/form_vk.png");
}
.block.form .form_text > div:nth-of-type(4) > div:last-child {
  background-image: url("pic/form_whatsapp.png");
}
.block.form .form_photo {
  background-color: #a9a9a9;
  padding-right: 40%;
  margin-bottom: 2%;
}

.block.footer {
  background-color: #365f41;
  color: #ffffff;
}
.block.footer > div > div {
  display: flex;
}
.block.footer > div > div:first-child {
  padding: 35px 0 20px;
  border-bottom: 1px solid #ffffff;
}
.block.footer > div > div:first-child > div:nth-of-type(1) {
  margin: auto;
}
.block.footer > div > div:first-child > div:nth-of-type(2) {
  flex: auto;
  text-align: center;
}
.block.footer > div > div:first-child > div:nth-of-type(2) > div {
  display: inline-block;
  background-image: url("pic/logo_travel.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.block.footer > div > div:first-child > div:nth-of-type(3) {
  margin: auto;
}
.block.footer > div > div:last-child {
  justify-content: center;
  padding: 20px 0 35px;
}
.block.footer > div > div:last-child > a {
  color: #ffffff;
  text-decoration: none;
}
.block.footer > div > div:last-child > a:hover {
  text-decoration: underline;
}
.block.footer > div > div:last-child > a:not(:last-child) {
  margin-right: 30px;
}
.block.footer .contact {
  display: flex;
  padding-bottom: 5px;
}
.block.footer .contact > div {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.block.footer .contact > div:nth-of-type(1) {
  background-image: url("pic/telegram.png");
}
.block.footer .contact > div:nth-of-type(2) {
  background-image: url("pic/youtube.png");
}
.block.footer .contact > div:nth-of-type(3) {
  background-image: url("pic/vk.png");
}
.block.footer .contact > div:nth-of-type(4) {
  background-image: url("pic/instagram.png");
}
.block.footer .contact > div:not(:last-child) {
  margin-right: 4px;
}

.block.page_about_us {
  text-align: center;
}

.block.page_tours > div:first-child {
  text-align: center;
  font-family: Intro, sans-serif;
  padding: 50px 0 30px;
}
.block.page_tours .cards_tours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  width: 100%;
}
.block.page_tours .cards_tours > div {
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 24px;
  transition: all 200ms ease;
  cursor: pointer;
}
.block.page_tours .cards_tours > div:hover {
  box-shadow: 0 0 7px 0px rgba(45, 44, 44, 0.1294117647);
}
.block.page_tours .cards_tours > div > div:first-child {
  background-color: #a9a9a9;
  height: 200px;
}
.block.page_tours .cards_tours > div > div:last-child {
  padding: 20px;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(1) {
  color: #a9a9a9;
  font-size: 0.8rem;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(2) {
  font-family: Intro, sans-serif;
  font-size: 0.8rem;
  padding: 0.3rem 0 0.5rem;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(2):hover {
  color: #365f41;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(4) {
  padding: 0.8rem 0;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(5) {
  display: flex;
}
.block.page_tours .cards_tours > div > div:last-child > div:nth-of-type(5) > input:first-child {
  margin-right: 10px;
}
.page_one_tour .tour_program {
  padding: 120px 0;
}
.page_one_tour .tour_program > div:first-child {
  font-family: Intro, sans-serif;
  text-align: center;
  padding-bottom: 70px;
  font-size: 1.5rem;
}
.page_one_tour .tour_program > div:last-child {
  display: flex;
}
.page_one_tour .tour_program .days > div {
  display: flex;
}
.page_one_tour .tour_program .days > div > div:first-child {
  width: 100px;
  text-align: right;
  position: relative;
  padding-right: 20px;
  font-size: 60px;
  color: #a9a9a9;
}
.page_one_tour .tour_program .days > div > div:first-child:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #a9a9a9;
  border-radius: 50%;
  right: -4px;
  top: 0;
}
.page_one_tour .tour_program .days > div > div:last-child {
  border-left: 1px solid #a9a9a9;
  max-width: 50%;
  padding-left: 20px;
  padding-bottom: 50px;
}
.page_one_tour .tour_program .map {
  background-image: url("pic/map.png");
  background-size: contain;
  width: 80%;
  background-repeat: no-repeat;
  background-position-y: center;
}

.block.page_adventure .cards_adventure {
  padding-top: 4%;
}
.block.page_adventure .cards_adventure > div {
  overflow: hidden;
  display: flex;
  margin-bottom: 40px;
  transition: all 200ms ease;
  background-color: #ffffff;
  border-radius: 24px;
  cursor: pointer;
}
.block.page_adventure .cards_adventure > div:hover {
  box-shadow: 0 0 7px 0px rgba(45, 44, 44, 0.1294117647);
}
.block.page_adventure .cards_adventure > div > div:first-child {
  background-color: #a9a9a9;
  padding-top: 20%;
  width: 30%;
  flex: none;
}
.block.page_adventure .cards_adventure > div > div:last-child {
  flex: auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(1) {
  flex: none;
  font-family: Intro, sans-serif;
  font-size: 0.8rem;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(1):hover {
  color: #365f41;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(2) {
  flex: auto;
  padding: 20px 0;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(3) {
  text-align: right;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(3) > span {
  flex: none;
  color: #a9a9a9;
}
.block.page_adventure .cards_adventure > div > div:last-child > div:nth-of-type(3) > span:hover {
  color: #365f41;
}

.block.page_about_us > div:not(:nth-of-type(2)) {
  display: flex;
  padding: 5% 0;
}
.block.page_about_us > div:nth-of-type(2) {
  padding: 100px;
  background-position: center;
  background-image: url("pic/adventure.jpg");
  background-size: cover;
}
.block.page_about_us > div:nth-of-type(2) > div {
  background-position: center;
  background-image: url("pic/about_play.png");
  height: 100px;
  background-repeat: no-repeat;
  background-size: 90px;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  transition: background-size 200ms ease;
}
.block.page_about_us > div:nth-of-type(2) > div:hover {
  background-size: 100px;
}
.block.page_about_us .about_pic {
  width: 40%;
  height: 12rem;
  background-color: #a9a9a9;
}
.block.page_about_us .about_text:not(:last-child) {
  margin-right: 5%;
}
.block.page_about_us .about_text:last-child {
  margin-left: 5%;
}
.block.page_about_us .about_text > div {
  text-align: left;
}
.block.page_about_us .about_text > div:nth-of-type(1) {
  color: #365f41;
  padding-bottom: 3%;
}
.block.page_about_us .about_text > div:nth-of-type(2) {
  font-family: Intro, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-bottom: 3%;
}
.block.page_about_us .right_text {
  padding-left: 50%;
}

.page_one_adventure .adventure_text {
  margin: -120px 0 120px;
  position: relative;
  background-color: #ffffff;
  padding: 3rem 4rem;
}
.page_one_adventure .adventure_text > div:first-child {
  margin-bottom: 2rem;
}
.page_one_adventure .adventure_text > div:last-child {
  display: flex;
}
.page_one_adventure .adventure_text > div:last-child > div {
  width: 49%;
  height: 12rem;
  background-color: #a9a9a9;
  cursor: pointer;
}
.page_one_adventure .adventure_text > div:last-child > div:not(last-child) {
  margin-right: 2%;
}
.page_one_adventure .adventure_other {
  margin-bottom: 120px;
}
.page_one_adventure .adventure_other > div:first-child {
  text-align: center;
  padding-bottom: 2rem;
}
.page_one_adventure .adventure_other > div:first-child > span {
  font-family: Intro, sans-serif;
  padding: 0.3rem 0 0.5rem;
  cursor: pointer;
}
.page_one_adventure .adventure_other > div:first-child > span:hover {
  color: #365f41;
}
.page_one_adventure .adventure_other > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  color: #ffffff;
}
.page_one_adventure .adventure_other > div:last-child > div > div:first-child {
  background-color: #a9a9a9;
  border-radius: 24px;
  display: flex;
  align-items: end;
  cursor: pointer;
  height: 150px;
}
.page_one_adventure .adventure_other > div:last-child > div > div:first-child:hover {
  box-shadow: 0 0 7px 0px rgba(45, 44, 44, 0.1294117647);
}
.page_one_adventure .adventure_other > div:last-child > div > div:first-child > div {
  margin: auto;
  text-align: center;
  padding: 16px;
}

.page_photo {
  color: #ffffff;
}
.page_photo .photo_albums {
  padding: 120px 0 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-auto-rows: minmax(300px, auto);
}
.page_photo .photo_albums > div {
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #a9a9a9;
  border-radius: 24px;
  transition: all 200ms ease;
  cursor: pointer;
  display: flex;
  align-items: end;
}
.page_photo .photo_albums > div:hover {
  box-shadow: 0 0 9px 2px rgba(45, 44, 44, 0.1294117647);
}
.page_photo .photo_albums > div > div {
  padding: 24px 30px;
}

.page_one_tour .about_tour {
  display: flex;
  padding: 120px 10%;
}
.page_one_tour .about_tour > div:first-child {
  width: 60%;
  margin-right: 10%;
}
.page_one_tour .about_tour > div:last-child {
  width: 40%;
  display: flex;
}
.page_one_tour .tour_video > div {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page_one_tour .tour_video > div > div:nth-of-type(1) {
  font-family: Intro, sans-serif;
  padding-bottom: 70px;
  text-align: center;
  font-size: 1.5rem;
}
.page_one_tour .tour_video > div > div:nth-of-type(2) {
  text-align: center;
  padding: 180px;
  background-position: center;
  background-image: url("pic/adventure.jpg");
  background-size: cover;
}
.page_one_tour .tour_video > div > div:nth-of-type(2) > div {
  background-position: center;
  background-image: url("pic/about_play.png");
  height: 100px;
  background-repeat: no-repeat;
  background-size: 90px;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  transition: background-size 200ms ease;
}
.page_one_tour .tour_video > div > div:nth-of-type(2) > div:hover {
  background-size: 100px;
}
.page_one_tour .tour_price {
  padding: 120px 10%;
}
.page_one_tour .tour_price > div:first-child {
  padding-bottom: 16px;
  color: #a9a9a9;
}
.page_one_tour .tour_price > div:last-child {
  display: flex;
}
.page_one_tour .tour_price > div:last-child > div {
  width: 50%;
}
.page_one_tour .tour_price > div:last-child > div > div:first-child {
  font-family: Intro, sans-serif;
}
.page_one_tour .list {
  padding: 32px 0 0 32px;
}
.page_one_tour .list > div {
  display: flex;
}
.page_one_tour .list > div > div:last-child {
  padding-left: 10px;
}
.page_one_tour .about_mini > div {
  width: 50%;
}
.page_one_tour .about_mini > div > div:first-child {
  padding-bottom: 20px;
}
.page_one_tour .about_mini > div > div:last-child {
  color: darkgray;
  font-family: Intro, sans-serif;
  font-size: 1.5rem;
}
.page_one_tour .tour_photo {
  padding: 120px 0 120px 0;
}
.page_one_tour .tour_photo > div:first-child {
  font-family: Intro, sans-serif;
  padding-bottom: 70px;
  text-align: center;
  font-size: 1.5rem;
}
.page_one_tour .tour_photo > div:last-child {
  text-align: center;
  padding-top: 70px;
}
.page_one_tour .tour_mini_photo {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-auto-rows: minmax(250px, auto);
  grid-template-areas: "a b b c" "d d e f";
}
.page_one_tour .tour_mini_photo > div {
  background-color: #a9a9a9;
  border-radius: 24px;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(1) {
  grid-area: a;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(2) {
  grid-area: b;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(3) {
  grid-area: c;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(4) {
  grid-area: d;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(5) {
  grid-area: e;
}
.page_one_tour .tour_mini_photo > div:nth-of-type(6) {
  grid-area: f;
}
.page_one_tour .tour_take_things {
  padding: 120px 0 120px 0;
}
.page_one_tour .tour_take_things > div:first-child {
  font-family: Intro, sans-serif;
  padding-bottom: 70px;
  text-align: center;
  font-size: 1.5rem;
}
.page_one_tour .tour_take_things > div:last-child {
  display: grid;
  grid-row-gap: 1rem;
}
.page_one_tour .tour_take_things > div:last-child > div:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.page_one_tour .tour_take_things > div:last-child > div:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.page_one_tour .tour_take_things > div:last-child > div:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.page_one_tour .tour_take_things > div:last-child > div:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.page_one_tour .tour_take_things > div:last-child > div > div:first-child {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.page_one_tour .tour_take_things > div:last-child > div > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.page_one_tour .tour_take_things > div:last-child > div > div:last-child > label {
  padding: 0.2rem 0;
}
.page_one_tour .tour_take_things > div:last-child > div > div:last-child > label > input {
  margin-right: 16px;
}

/*# sourceMappingURL=main.css.map */
