$color_main_green: #365f41;
$color_main: #ece9e0;
$color_text_main: #2d2c2c;
$color_light_gray: #fdfdfd;

@font-face { font-family: Intro; src: url(fonts/IntroDemo-BlackCAPS.otf);  font-style: normal; font-weight: 400; }
@font-face { font-family: Inter_Tight; src: url(fonts/InterTight-Regular.ttf); font-style: normal; font-weight: 400; }

html, input { font-family: Inter_Tight, sans-serif; }
body { background-color: $color_main; margin: 0; }

.block.hat {
	position: relative;
	> div {
		&:first-child { background-position: bottom; background-image: url("pic/hat.jpg"); background-size: cover; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
		&:last-child {
			padding: 150px 50px; position: relative;
			> div {
				&:nth-of-type(1) { color: white; }
				&:nth-of-type(2) { color: white; font-family: Intro, sans-serif; font-size: xx-large; }
				&:nth-of-type(3) { color: white; }
				&:nth-of-type(4) { color: white;}
			}
		}
	}
}


main {
	> div.check_tour {
		height: 100px; background-color: white; display: flex; justify-content: center; text-align: center;
		> div {}
		> input {
			height: 30px; margin-top: auto; margin-bottom: auto; background-color: $color_main_green; border: none; color: white;
		}
	}
	> div.about_us {
		padding: 20px;
		> div { text-align: center;
			&:nth-of-type(1) { color: $color_main_green; }
			&:nth-of-type(2) { color: $color_text_main; font-size: x-large; margin: 0 100px; }
			&:nth-of-type(3) { color: $color_text_main; margin: 20px 100px; }
		}
	}
	> div.tour { display: flex; margin: 0 auto; padding: 0 10%; max-width: 1200px;
		> div { width: 30%;
			&:not(:last-child) { margin-right: 5%; }
			> div {
				&:nth-of-type(1) { background-color: darkgray;  padding-top: 80%; }
				&:nth-of-type(2) { color: $color_text_main; font-size: large; }
				&:nth-of-type(3) { color: $color_text_main; }
			}
		}
	}

	> div.adventure { height: 200px; background-color: $color_main_green; }
	> div.photo { height: 400px; }
}


div.block.footer {
	background-color: $color_main_green;
	> div {
		display: flex; justify-content: space-evenly; text-align: center;  width: 100%; max-width: 1200px; margin: 0 auto;
		> div {
			padding: 20px;
		}
		> div.footer_logo { background-color: darkgray; margin-top: auto; margin-bottom: auto; }
		> div.footer_contact {
			div {
				display: flex; justify-content: center;
				> div {
					&:nth-of-type(1) {background-color: brown; width: 20px; height: 20px; margin: 2px;}
					&:nth-of-type(2) {background-color: darkgray; width: 20px; height: 20px; margin: 2px;}
					&:nth-of-type(3) {background-color: brown; width: 20px; height: 20px; margin: 2px;}
					&:nth-of-type(4) {background-color: darkgray; width: 20px; height: 20px; margin: 2px;}
				}
			}
		}
		> input { height: 30px; margin-top: auto; margin-bottom: auto; }
	}
}