@use "sass:map";

@use "_variable" as *;
@use "_func" as *;

.block.page_about_us { text-align: center; }
.page_about_us {
	> div {
		//padding: 5% 10%;
		&:nth-of-type(1) { display: flex; }
		&:nth-of-type(2) { margin-bottom: 120px; }
		&:not(:nth-of-type(2)) { padding: 120px 10% 240px; }
	}
	.about_header {
		> div {
			&:first-child {
				width: 58%; margin-right: 2%;
				> div {
					text-align: left; display: flex; flex-direction: column;
					&:nth-of-type(1) { color: $color_main_green; padding-bottom: 3%; }
					&:nth-of-type(2) { font-family: Intro, sans-serif; font-size: 0.8rem; line-height: 1.5rem; padding-bottom: 8%; }
					&:nth-of-type(3) { flex: auto; }
				}
			}
			&:last-child { width: 40%; background-color: $color_gray; border-radius: 24px; }
		}

	}
	.team {
		display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 4%;
		> div { display: flex; }
	}
	.about_pic { width: 50%; background-color: $color_gray; border-radius: 24px; }
	.about_text {
		display: flex; flex-direction: column; padding-left: 5%; width: 50%;
		//&:not(:last-child) { margin-right: 5%; }
		//&:last-child { margin-left: 5%; }
		> div {
			text-align: left;
			//&:nth-of-type(1) { color: $color_main_green; padding-bottom: 3%; }
			&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: 0.8rem; line-height: 1.5rem; padding-bottom: 8%; }
			&:nth-of-type(2) { flex: auto; padding-bottom: 24% }
			&:nth-of-type(3) {  }
		}
	}
	.right_text { padding-left: 50%; }
}
.contact_person {
	color: $color_gray;
	> div {
		&:nth-of-type(1) {
			display: flex; margin-bottom: 14px;
			> div {
				&:last-child { color: $color_text_main; }
			}
		}
		&:nth-of-type(2) {
			display: flex;
			> div {
				width: 30px; height: 30px; background-size: 80%; background-repeat: no-repeat; cursor: pointer;
				&:first-child { background-image: url("pic/form_vk.png"); }
				&:last-child { background-image: url("pic/form_whatsapp.png"); }
			}
		}
	}
}

