<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin: *
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)\.(htaccess|inc|tpl|db|ts|sample)$ 404.inc [R=404,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/xhr/?$ admin.xhr.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/xhr/([0-9a-z-_]+)/?$ admin.xhr.php?__a=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/xhr/([0-9a-z-_]+)/([0-9a-z-_]+)/?$ admin.xhr.php?__a=$1&__p=$2 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/?$ admin.html.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/([0-9a-z-_]+)/?$ admin.html.php?__a=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^admin/([0-9a-z-_]+)/([0-9a-z-_]+)/?$ admin.html.php?__a=$1&__p=$2 [QSA,NC,L]


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^xhr/?$ site.xhr.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^xhr/([0-9a-z-_]+)/?$ site.xhr.php?__a=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^xhr/([0-9a-z-_]+)/([0-9a-z-_]+)/?$ site.xhr.php?__a=$1&__p=$2 [QSA,NC,L]

#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^$ site.html.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([0-9a-z-_]+)/?$ site.html.php?__a=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([0-9a-z-_]+)/([0-9a-z-_]+)/?$ site.html.php?__a=$1&__p=$2 [QSA,NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)\.([0-9]+)\.([0-9]+)\.([0-9]+)\.(css|js)$ $1.$5 [NC,L]
</IfModule>