@use "variables" as *;

@font-face { font-family: AjarSans; src: url("font/Ajar Sans/AjarSans-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: AjarSans; src: url("font/Ajar Sans/AjarSans-Bold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@mixin MixBtn {
  padding: 0.6rem 1.6rem; border: 0.2rem solid $color-secondary; border-radius: 0.4rem; background-color: $color-secondary; color: $color-text-primary;
  &:hover { border-color: $color-secondary-dark; background-color: $color-secondary-dark; }
  &:focus-visible, &:active { border-color: $color-secondary-dark; background-color: $color-secondary-light; }
}