$color-light					: #FFFFFF;

$color-text						: #000000;
$color-text-primary				: $color-light;

$color-primary					: #3E4246;
$color-primary-light			: #76797C;
$color-primary-super-light		: #C3C3C3;
$color-primary-dark				: #23282C;

$color-secondary				: #006E95;
$color-secondary-light			: #007fAD;
$color-secondary-dark			: #00506C;

$color-tertiary-light			: #68909F;

$color-negative					: #950000;
//$color-negative-light			: #AD675B;

$color-neutral					: $color-primary-super-light;
$color-neutral-light			: #d9d9d9;
$color-neutral-extra-light		: #efefef;
$color-neutral-black			: $color-primary;

$color-link						: $color-secondary-light;
$color-link-primary				: $color-light;

$color-bg						: $color-light;