@use "variables" as *;
@use "common" as *;

* { box-sizing: border-box; }
html { height: 100%; font-family: AjarSans, sans-serif; font-size: 14px; color: $color-text; }
input {
	outline: none; font-family: AjarSans, sans-serif; font-size: 1rem;
	&[type="submit"] { @include MixBtn; cursor: pointer; }
	&[type="text"], &[type="password"]  { @include SampleText; }
}
body {
	margin: 0; height: 100%; display: flex; flex-direction: column;
	> header { padding: 1rem 0.6rem 1rem 3.5rem; background-color: $color-primary-dark; color: $color-text-primary; background-image: url("img/logo/logo.svg"); background-size: 26px; background-repeat: no-repeat; background-position: left 10px center; }
	> main { flex: auto; display: flex; align-items: center; justify-content: center; }
	> footer { padding: 1rem 0.6rem; text-align: center; background-color: $color-primary-dark; color: $color-text-primary; }
}

main { padding: 0.2rem; }

@import "units/general";
@import "units/users";