@font-face {
  font-family: AjarSans;
  src: url("font/Ajar Sans/AjarSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AjarSans;
  src: url("font/Ajar Sans/AjarSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: AjarSans, sans-serif;
  font-size: 14px;
  color: #000000;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #007fAD;
}

input {
  outline: none;
  font-family: AjarSans, sans-serif;
  font-size: 1rem;
}
input[type=submit], input[type=button] {
  padding: 0.6rem 1.6rem;
  border: 0.2rem solid #006E95;
  border-radius: 0.4rem;
  background-color: #006E95;
  color: #FFFFFF;
  cursor: pointer;
}
input[type=submit]:hover, input[type=button]:hover {
  border-color: #00506C;
  background-color: #00506C;
}
input[type=submit]:focus-visible, input[type=submit]:active, input[type=button]:focus-visible, input[type=button]:active {
  border-color: #00506C;
  background-color: #007fAD;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body > header {
  padding: 1rem 0.6rem;
  background-color: #23282C;
  color: #FFFFFF;
}
body > div {
  flex: auto;
  display: flex;
}
body > div menu {
  flex: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #3E4246;
  color: #FFFFFF;
}
body > div menu a {
  color: #FFFFFF;
}
body > div main {
  flex: auto;
}
body > footer {
  padding: 1rem 0.6rem;
  background-color: #23282C;
  color: #FFFFFF;
}

menu li > span {
  position: relative;
  display: block;
  padding: 0.6rem;
  cursor: pointer;
}
menu li > span > ul {
  position: absolute;
  display: none;
  top: 0;
  left: 200px;
  width: 200px;
  background-color: #3E4246;
}
menu li > span:hover {
  background-color: #006E95;
}
menu li > a {
  display: block;
  padding: 0.6rem;
}
menu li > a:hover {
  background-color: #006E95;
}
menu li:hover > span > ul {
  display: block;
}

main {
  padding: 0.2rem;
}
main .navigate {
  padding: 1rem;
}
main h1 {
  padding: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}
main table.select > thead > tr {
  background-color: #006E95;
  color: #FFFFFF;
}
main table.select > thead > tr > th {
  padding: 0.6rem;
  font-weight: 400;
}
main table.select > tbody > tr:nth-child(even) {
  background-color: #C3C3C3;
}
main table.select > tbody > tr:hover {
  background-color: #68909F;
}
main table.select > tbody > tr > td {
  padding: 0.6rem;
}
main table.create > tbody > tr > th, main table.update > tbody > tr > th {
  padding: 0.6rem;
  text-align: left;
  font-weight: 700;
  vertical-align: top;
}
main table.browse th {
  vertical-align: top;
}

div.uploader_photo > input {
  display: none;
}
div.uploader_photo div.upload_space {
  border: 1px dashed #006E95;
  border-radius: 4px;
  padding: 24px;
  cursor: pointer;
  display: inline-block;
  width: 424px;
  text-align: center;
}
div.uploader_photo div.upload_space.active {
  border-color: #00506C;
  background-color: #C3C3C3;
}
div.uploader_photo div.img_container {
  display: flex;
  gap: 8px;
  padding: 12px 0;
  max-width: 500px;
  flex-wrap: wrap;
}
div.uploader_photo div.img_container div.img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}
div.uploader_photo div.img_container div.img:hover > div.delete.active {
  display: block;
}
div.uploader_photo div.img_container div.img div.delete {
  display: none;
  background-color: brown;
  width: 24px;
  height: 24px;
  border-radius: 0 4px;
  cursor: pointer;
}
div.uploader_photo div.img_container div.img div.wait {
  display: none;
}
div.uploader_photo div.img_container div.img div.wait.active {
  background-repeat: no-repeat;
  display: block;
  background-image: url("svg/loader-icon.svg");
  background-color: rgba(0, 127, 173, 0.1607843137);
  background-size: 60%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
}

/*# sourceMappingURL=main.css.map */
