@use "variables" as *;
@use "common" as *;

* { box-sizing: border-box; }
html { height: 100%; font-family: AlegreyaSansSC, sans-serif; font-size: 16px; color: $color-text; }
h1 { margin: 0; }
h3 { margin: 0; text-align: center;}
ul { margin: 0; padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: $color-link; }
input {
	outline: none; font-family: AlegreyaSansSC, sans-serif; font-size: 1rem;
	&[type="submit"], &[type="button"] { @include MixBtn; cursor: pointer; }
}
body {
	margin: 0; height: 100%; display: flex; flex-direction: column;
	> header {
		position: relative; display: flex; padding: 1rem 0.6rem; background-color: $color-primary-dark; color: $color-text-primary;
		> div { flex: auto; }
		> .logout {
			flex: none; width: 40px; background-image: url("img/ui/white/exit.svg"); background-size: 19px; background-position: center; background-repeat: no-repeat;
		}
	}
	> div {
		flex: auto; display: flex;
		menu {
			flex: none; margin: 0; padding: 0; width: 200px; background-color: $color-primary; color: $color-text-primary;
			a { color: $color-text-primary; }
		}
		main { flex: auto; }
	}
	> footer { padding: 1rem 0.6rem; background-color: $color-primary-dark; color: $color-text-primary; }
}

menu {
	li {
		> span {
			position: relative; display: block; padding: 0.6rem; cursor: pointer; z-index: 10;
			> ul { position: absolute; display: none; top: 0; left: 200px; width: 200px; background-color: $color-primary; }
			&:hover { background-color: $color-secondary; }
		}
		> a {
			display: block; padding: 0.6rem;
			&:hover { background-color: $color-secondary; }
		}
		&:hover > span > ul { display: block; }
	}
}

main {
	padding: 0.2rem;
	.navigate { padding: 1rem; }
	h1 { padding: 1rem 0; font-size: 1.4rem; text-align: center; }
	table {
		&.select {
			> thead > tr {
				background-color: $color-secondary; color: $color-text-primary;
				> th { padding: 0.6rem; font-weight: 400; }
			}
			> tbody > tr {
				&:nth-child(even) { background-color: $color-primary-super-light; }
				&:hover { background-color: $color-tertiary-light; }
				> td { padding: 0.6rem; }
			}
		}
		&.create, &.update {
			> tbody > tr {
				> th { padding: 0.6rem; text-align: left; font-weight: 700; vertical-align: top; }
			}
		}
		&.browse {
			th { vertical-align: top; }
		}
	}
}

div.uploader_photo {
	> input { display: none; }
	div.upload_space {
		border: 1px dashed $color-secondary; border-radius: 4px; padding: 24px; cursor: pointer; display: inline-block; width: 424px; text-align: center;
		&.active { border-color: $color-secondary-dark; background-color: $color-primary-super-light; }
		//div.background_text { text-align: center; width: 200px; }
	}
	div.img_container {
		display: flex; gap: 8px; padding: 12px 0; max-width: 500px; flex-wrap: wrap;
		div.img {
			position: relative; width: 100px; height: 100px; border-radius: 4px; display: flex; justify-content: flex-end; background-size: cover; background-position: center;
			&:hover > div.delete.active { display: block; }
			div.delete { display: none; background-color: brown; width: 24px; height: 24px; border-radius: 0 4px; cursor: pointer; }
			div.wait {
				display: none;
				&.active { background-repeat: no-repeat; display: block; background-image: url("svg/loader-icon.svg"); background-color: #007fad29; background-size: 60%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-position: center; }
			}
		}
	}
}