@use "sass:map";

@use "variable" as *;
@use "func" as *;

.block.team {
	@mixin ViewAboutTeam($params: null) {
		$default: (
				display_grid: grid,
				margin_card: 0,
				width_card: 100%,
				display_card: flex,
				height_pic: 18rem,
				width_content_card: 50%,
				padding_bottom_text: 24%,
				padding_name: 0 0 8%

		);

		display: GetValue($default, $params, 'display_grid'); grid-template-columns: repeat(2, 1fr); grid-column-gap: 4%; grid-row-gap: 8%;
		> div {
			display: GetValue($default, $params, 'display_card'); width: GetValue($default, $params, 'width_card'); margin: GetValue($default, $params, 'margin_card');
			&:last-child { margin-bottom: 0; }
		}

		.about_pic { width: GetValue($default, $params, 'width_content_card'); background-size: cover; border-radius: 24px; height: GetValue($default, $params, 'height_pic'); }
		.about_text {
			display: flex; flex-direction: column; padding-left: 5%; width: GetValue($default, $params, 'width_content_card');
			//&:not(:last-child) { margin-right: 5%; }
			//&:last-child { margin-left: 5%; }
			> div {
				text-align: left;
				//&:nth-of-type(1) { color: $color_main_green; padding-bottom: 3%; }
				&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: 0.8rem; line-height: 1.5rem; padding: GetValue($default, $params, 'padding_name'); }
				&:nth-of-type(2) { flex: auto; padding-bottom: GetValue($default, $params, 'padding_bottom_text'); }
				&:nth-of-type(3) {  }
			}
		}


		.contact_person {
			color: $color_gray;
			> div {
				&:nth-of-type(1) {
					display: flex; margin-bottom: 14px;
					> div {
						&:last-child { color: $color_text_main; }
					}
				}
				&:nth-of-type(2) {
					display: flex;
					> a {
						width: 30px; height: 30px; background-size: 80%; background-repeat: no-repeat; cursor: pointer;
						&:first-child { background-image: url("pic/form_vk.png"); }
						&:last-child { background-image: url("pic/form_whatsapp.png"); }
					}
				}
			}
		}
	}

	@include MixScreen(null, $size2XS) { @include ViewAboutTeam((display_grid: revert, margin_card: 0 auto 10%, display_card: revert, width_content_card: 100%, padding_bottom_text: 8%, padding_name: 4% 0)); }
	@include MixScreen($size2XS, $sizeS) { @include ViewAboutTeam((display_grid: revert, margin_card: 0 auto 10%, width_card: 70%, display_card: revert, width_content_card: 100%, padding_bottom_text: 8%, padding_name: 4% 0)); }
	@include MixScreen($sizeS, $sizeL) { @include ViewAboutTeam((display_grid: revert, margin_card: 0 auto 4%, padding_bottom_text: 16%, height_pic: 14rem)); }
	@include MixScreen($sizeL, $size2XL) { @include ViewAboutTeam((display_grid: revert, margin_card: 0 auto 4%, width_card: 70%, padding_name: 8% 0)); }
	@include MixScreen($size2XL, null) { @include ViewAboutTeam(()); }
}