@use "sass:map";

@use "variable" as *;
@use "func" as *;

.block.adventure {
	padding: 5%; background-position: center; background-image: url("pic/adventure.jpg"); background-size: cover;
	> div { text-align: center !important;
		> div {
			color: $color_white;
			//&:nth-of-type(1) { font-family: Intro, sans-serif; font-size: 1.5rem; }
			&:nth-of-type(1) { padding-bottom: 0 !important; }
			&:nth-of-type(2) { padding: 0.7rem 0 1.4rem 0; }
		}
	}
}

.block.page_adventure {
	.cards_adventure {
		padding: 4% 0; display: grid;
		> a {
			min-height: 100px; color: $color_text_main; text-decoration: none; overflow: hidden; display: flex; margin-bottom: 2%; transition: all 200ms ease; background-color: $color_white; border-radius: 24px;
			&:hover {
				box-shadow: $box_shadow_white;
				> div:last-child > div:nth-of-type(1) { color: $color_main_green; }
				> div:last-child > div:nth-of-type(3) { color: $color_main_green; }
			}
			> div {
				&:first-child { background-color: $color_gray; padding-top: 20%; width: 30%; flex: none; }
				&:last-child {
					flex: auto; padding: 4% 8% 4% 4%; display: flex; flex-direction: column;
					> div {
						&:nth-of-type(1) {
							flex: none; font-family: Intro, sans-serif; font-size: 0.8rem;
							//&:hover { color: $color_main_green; }
						}
						&:nth-of-type(2) { flex: auto; margin: 4% 0;
							overflow: hidden;
							-webkit-line-clamp: 3;
							display: -webkit-box;
							-webkit-box-orient: vertical; }
						&:nth-of-type(3) {
							text-align: right; color: $color_gray;
							//&:hover { color: $color_main_green; }
						}
					}
				}
			}
		}
	}
}

.page_one_adventure {
	@mixin ViewOneAdventure($params: null) {
		$default: (
				margin_top: -100px,
				border_radius: 60px,
				padding_text: 6% 8%,
				display_pic: grid,
				margin_bottom_pic: 0,
				border_radius_pic: 40px,
				height_pic: 18rem

		);
		.adventure_text {
			margin-top: GetValue($default, $params, 'margin_top'); margin-bottom: 10%; position: relative; background-color: $color_white; padding: GetValue($default, $params, 'padding_text'); border-radius: GetValue($default, $params, 'border_radius');
			> div {
				&:first-child { margin-bottom: 4%; }
				&:last-child {
					display: GetValue($default, $params, 'display_pic'); grid-template-columns: repeat(2, 1fr); grid-column-gap: 2%;
					> div {
						height: GetValue($default, $params, 'height_pic'); background-color: $color_gray; cursor: pointer; background-size: cover; background-position: center; border-radius: GetValue($default, $params, 'border_radius_pic');
						&:not(:last-child) { margin-bottom: GetValue($default, $params, 'margin_bottom_pic'); }
					}
				}
			}
		}
	}
	@include MixScreen(null, $size3XS) { @include ViewOneAdventure((margin_top: -15px, border_radius: 15px, padding_text: 8% 10%, display_pic: revert, margin_bottom_pic: 4%, border_radius_pic: 15px, height_pic: 8rem)); }
	@include MixScreen($size3XS, $sizeXS) { @include ViewOneAdventure((margin_top: -15px, border_radius: 15px, padding_text: 8% 10%, display_pic: revert, margin_bottom_pic: 4%, border_radius_pic: 25px, height_pic: 10rem)); }
	@include MixScreen($sizeXS, $sizeS) { @include ViewOneAdventure((margin_top: -20px, border_radius: 20px, padding_text: 10% 12%, display_pic: revert, margin_bottom_pic: 4%, border_radius_pic: 25px, height_pic: 14rem)); }
	@include MixScreen($sizeS, $sizeM) { @include ViewOneAdventure((margin_top: -30px, border_radius: 30px, padding_text: 8% 10%, display_pic: revert, margin_bottom_pic: 4%, border_radius_pic: 25px, height_pic: 14rem)); }
	@include MixScreen($sizeM, $sizeL) { @include ViewOneAdventure((margin_top: -40px, border_radius: 30px, padding_text: 8% 10%, display_pic: revert, margin_bottom_pic: 4%, border_radius_pic: 30px, height_pic: 14rem)); }
	@include MixScreen($sizeL, $sizeX) { @include ViewOneAdventure((margin_top: -40px, border_radius: 40px, padding_text: 8% 10%, border_radius_pic: 30px, height_pic: 14rem)); }
	@include MixScreen($sizeX, $sizeXL) { @include ViewOneAdventure((margin_top: -60px,)); }
	@include MixScreen($sizeXL, $size5XL) { @include ViewOneAdventure((margin_top: -70px,)); }
	@include MixScreen($size5XL, null) { @include ViewOneAdventure(()); }
}