@use "sass:map";

@use "../variables" as *;
@use "../functions" as *;

.view.general.notices {
	position: fixed; top: 1rem; right: 1rem; z-index: 300; display: grid; gap: 1rem;
	> .instance {
		display: flex; border-width: 1px; border-style: solid; border-color: $color-light; background-color: $color-light;
		&.ok {
			border-color: $color-primary;
			> .type { background-image: GetImageUI('notice/ok.svg'); }
		}
		&.info { border-color: $color-neutral;
			> .type { background-image: GetImageUI('notice/info.svg'); }
		}
		&.error { border-color: $color-negative;
			> .type { background-image: GetImageUI('notice/error.svg'); }
		}
		> .type { width: 3rem; background-size: 1.5rem; background-position: 1rem 1rem; background-repeat: no-repeat; }
		> .notice { flex: auto; padding: 1.2rem; }
		> .close > div {
			width: 2rem; height: 2rem; background-image: GetImageUIPrimary('close.svg'); background-size: 1rem; background-position: center; background-repeat: no-repeat; cursor: pointer;
			&:hover { background-image: GetImageUIPrimaryLight('close.svg'); }
		}
	}
}

#structure {
	position: absolute; top: 3.6rem; right: 0.2rem; bottom: 0.2rem; left: 0.2rem; overflow: auto;
	> div {
		background-color: rgba($color-bg, 0.8);
		&.panel {
			position: absolute; left: 300px; top: 50px; border: 1px solid $color-secondary; box-shadow: $color-neutral-black 0 0 2px; user-select: none;
			> .display { padding: 5px; cursor: pointer; }
		}
		&.table {
			position: absolute; border: 1px solid $color-secondary; box-shadow: $color-neutral-black 0 0 2px; cursor: default;
			> .drag { position: absolute; top: 5px; right: 5px; left: 5px; height: 10px; border-radius: 5px; background-color: $color-light; cursor: grab; }
			> .header {
				display: flex; padding-top: 20px; background-color: $color-secondary; color: $color-text-primary;
				> .title { flex: auto; padding: 5px; font-weight: bold; }
				> .menu { padding: 5px; cursor: pointer; }
			}
			> .rows > div {
				padding: 5px;
				&:hover { background-color: $color-neutral-light; }
			}
		}
	}
	&.display_name {
		.name { display: none; }
		.description { display: block; }
	}	&.display_description {
			 .name { display: block; }
			 .description { display: none; }
		 }
}