@use "sass:map";

@use "../variables" as *;
@use "../functions" as *;

.view.general.notices {
	position: fixed; top: 1rem; right: 1rem; z-index: $z-notice; display: grid; gap: 1rem;
	> .instance {
		display: flex; border-width: 1px; border-style: solid; border-color: $color-light; background-color: $color-light;
		&.ok {
			border-color: $color-primary;
			> .type { background-image: GetImageUI('notice/ok.svg'); }
		}
		&.info { border-color: $color-neutral;
			> .type { background-image: GetImageUI('notice/info.svg'); }
		}
		&.error { border-color: $color-negative;
			> .type { background-image: GetImageUI('notice/error.svg'); }
		}
		> .type { width: 3rem; background-size: 1.5rem; background-position: 1rem 1rem; background-repeat: no-repeat; }
		> .notice { flex: auto; padding: 1.2rem; }
		> .close > div {
			width: 2rem; height: 2rem; background-image: GetImageUIPrimary('close.svg'); background-size: 1rem; background-position: center; background-repeat: no-repeat; cursor: pointer;
			&:hover { background-image: GetImageUIPrimaryLight('close.svg'); }
		}
	}
}

#structure {
	position: absolute; top: 3.6rem; right: 0.2rem; bottom: 0.2rem; left: 0.2rem; overflow: auto;
	> div {
		background-color: rgba($color-bg, 0.8);
		&.panel {
			position: absolute; left: 0; top: 0; display: flex; border: 1px solid $color-secondary; box-shadow: $color-neutral-black 0 0 2px; user-select: none; z-index: $z-extra-top;
			> a { padding: 5px; cursor: pointer; }
		}
		&.table {
			position: absolute; top: 100px; left: 100px; border: 1px solid $color-secondary; box-shadow: $color-neutral-black 0 0 2px; cursor: default; user-select: none;
			> .drag { position: absolute; top: 5px; right: 5px; left: 5px; height: 10px; border-radius: 5px; background-color: $color-light; cursor: grab; }
			> .header {
				display: flex; padding-top: 20px; background-color: $color-secondary; color: $color-text-primary;
				> .title { flex: auto; padding: 5px; font-weight: bold; }
				> .menu { padding: 5px; cursor: pointer; }
			}
			> .rows > div {
				display: flex; align-items: end; padding: 5px;
				> .type { min-width: 70px; font-size: 12px; font-weight: bold; color: $color-secondary; }
				> .name, > .description { flex: auto; white-space: nowrap; }
				> .key { margin-left: 20px; color: $color-neutral; }
				&:hover {
					background-color: $color-neutral-light;
					> .key { color: $color-secondary; }
				}
				&.primary, &.foreign, &.references { font-weight: 600; }
				&.foreign, &.references {
					position: relative;
					&:before { position: absolute; top: 0; content: ""; width: 50px; height: 25px; background-position: 0 center; background-size: cover; background-repeat: no-repeat; }
				}
				&.foreign {
					&:before { right: -50px; }
					&.one:before { background-image: GetImageUI('relationship/from_one.svg'); }
					&.many:before { background-image: GetImageUI('relationship/from_many.svg'); }
					&.only_one:before { background-image: GetImageUI('relationship/from_only_one.svg'); }
					&.zero_or_one:before { background-image: GetImageUI('relationship/from_zero_or_one.svg'); }
					&.one_or_many:before { background-image: GetImageUI('relationship/from_one_or_many.svg'); }
					&.zero_or_many:before { background-image: GetImageUI('relationship/from_zero_or_many.svg'); }
				}
				&.references {
					&:before { left: -50px; }
					&.one:before { background-image: GetImageUI('relationship/to_one.svg'); }
					&.many:before { background-image: GetImageUI('relationship/to_many.svg'); }
					&.only_one:before { background-image: GetImageUI('relationship/to_only_one.svg'); }
					&.zero_or_one:before { background-image: GetImageUI('relationship/to_zero_or_one.svg'); }
					&.one_or_many:before { background-image: GetImageUI('relationship/to_one_or_many.svg'); }
					&.zero_or_many:before { background-image: GetImageUI('relationship/to_zero_or_many.svg'); }
				}
			}
			> .keys > div {
				display: flex; align-items: center; padding: 5px; cursor: pointer;
				> .key_type { flex: auto; font-size: 10px; }
				> .key_name { margin-left: 20px; color: $color-neutral; font-weight: 600; }
				&:first-child { border-top: 1px dashed $color-secondary; }
				&:hover {
					background-color: $color-neutral-light;
					> .name { color: $color-secondary; }
				}
				&.active {
					background-color: $color-neutral;
					> .name { color: $color-secondary; }
				}
			}
		}
	}
	&.display_name {
		.name { display: none; }
		.description { display: block; }
		> div.panel > .display:before { content: "D"; }
	}
	&.display_description {
		.name { display: block; }
		.description { display: none; }
		> div.panel > .display:before { content: "N"; }
	}
}